# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
build/
*.egg-info/

# Node
node_modules/
dist/
.vite/
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db

# Mac
*.DS_Store

# Windows
Thumbs.db

# Env
.env

# Playwright
test-results/
playwright-report/

# Others
coverage/
